@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Jura:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Jura', sans-serif;
    color: #BC5238;
}

header{
    background-color: #FF9D00;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding:20px 0;
    height:10vh;
}

a{
    color:black;
    text-decoration: none;
}

ul{
    list-style: none;
    display: flex;
}

li{
    margin-right:40px;
    font-size:24px;
}

a:hover{
    color:#BC5238
}

footer{
    background-color: #FF9D00;
    color:black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    padding:20px 0;
    gap: 30px;
}
.contact-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:10px;
}

h3,p{
    font-family: "IBM Plex Mono", monospace;
    color:black;
    font-size:16px;
}

.productData{
    display:flex;
    justify-content: space-between;
    max-width:400px;
    margin-top:20px;
}
main{
    background-color: rgb(255, 211, 141);
    margin:20px;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
}

img{
    display:flex;
    flex-shrink:1;
    transition: 1s transform;
}
h2{
    text-decoration: underline;
    font-size:48px;
    display:flex;
    justify-content: center;
    
}


.img{
    width:500px;
    height:auto;
}
.product{
    gap:10px;
    margin:20px;
}

#banana{
    display:flex;
    justify-content: center;
    margin:80px auto;
    
}

.bananaData{
    display:flex;
    justify-content: space-between;
    max-width:400px;
    margin:20px auto;
}

.hero{
    padding-top: 20px;
    padding-bottom: 50px;
}
img:hover{
    transform: scale(1.05);
    cursor: pointer;
}

form{
    display: flex;
    flex-direction: column;
    gap:10px;
}

input{
    height:40px;
    width:600px;
    border-radius: 10px;;
    border-style: none;
}

textarea{
    resize:none;
    height:100px;
    width:600px;
    border-radius: 10px;;
}

button{
    height:30px;
    border-radius: 10px;
    background-color:rgb(255, 237, 190);
    border:none;
}
button:hover{
    background-color:#ffa200;
    border:solid 2px black;
}

.bestsellers{
    display: flex;
    flex-direction: column;
    align-items: center;
    }   

.card{
    display:flex;
    align-items:center;
}



